<header class="site-header">
  <div class="container">
    <a href="/" class="site-title">Bloggy</a>
    <nav class="site-nav">
      <a href="/">მთავარი</a>

      <!-- "test user" !== undefined -->
      <% if (username !== undefined) { %>
        <a href="/posts/create" class="primary-button">პოსტის დამატება</a>
        <a href="/logout">გამოსვლა</a>
      <% } else { %>
        <a href="/login">შესვლა</a>
        <a href="/register">რეგისტრაცია</a>
      <% } %>
    </nav>
  </div>
</header>
