<header class="site-header">
  <div class="container">
    <a href="/" class="site-title">Bloggy</a>
    <nav class="site-nav">
      <a href="/">მთავარი</a>
      <a href="/posts/create" class="primary-button">პოსტის დამატება</a>
      <a href="/login">შესვლა</a>
      <a href="/register">რეგისტრაცია</a>
    </nav>
  </div>
</header>
