<header class="site-header">
  <div class="container">
    <a href="/" class="site-title">Bloggy</a>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/posts/create" class="primary-button">Create Post</a>
    </nav>
  </div>
</header>